* {
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: white;
    font-size: 16px;

    --light-color: #8750f7;
    --dark-color: #2a1454;
    --darker-color: #0F0716;
    --dark-special:#140C1C;

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    scrollbar-width: thin;
    scrollbar-color: var(--light-color) var(--dark-color);
}

a {
    text-decoration: none;
}

:root {
    --text-contrast: #ffffff;
}


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-size: cover;
    color: var(--text-contrast);
    line-height: 1.6;
    background-image: radial-gradient(var(--light-color) 1%, var(--dark-color) 40%, var(--darker-color) 100%);
    background-color: var(--darker-color);
    background-image:
        radial-gradient(circle at 15% 50%, rgba(30, 30, 30, 0.8) 0%, transparent 25%),
        radial-gradient(circle at 85% 30%, rgba(40, 40, 40, 0.5) 0%, transparent 25%);

    background-attachment: fixed;
}

img {
    display: block;
}

.container-flex {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.active {
    width: auto;
    border-bottom: 4px solid var(--light-color);
}

.custom-btn {
    background-image: linear-gradient(to right, var(--light-color), var(--dark-color));
    padding: 15px 30px;
    border-radius: 100vh; /* Perfect pill shape */
    transition: color 0.3s ease-in;
}

.custom-btn:hover {
    background-image: linear-gradient(to left, var(--light-color), var(--dark-color));
    padding: 15px 30px;
    border-radius: 100vh 100vh 100vh 100vh;
    transition: 0.3s;
}

h2{
    font-size: 45px;
    font-weight: 700;
    background: linear-gradient(to right, var(--light-color), white);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
    background-clip: text;
    line-height: 1.2;
}

ul { 
    padding-left: 2rem;
    margin: 0; 
    padding: 0; 
    list-style: none;
    margin-top: 0; 
    margin-bottom: 1rem;
} 

li{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

